/* src/App.css */
.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #ed9999;
}

.auth_container {
    background-color: #f0f0f0;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #ed9999;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pot {
    color: #777;
    padding: 10px 0;
    cursor: pointer;
}